.question-card {
    
}

.question {
    font-size: 25px;
    font-weight: bold;
}

.options {
    font-size: 18px;
    font-weight: bold;
    color: rgb(20, 20, 20);
}

.answer-option {
    color: rgb(45, 100, 175);
}